@theme {
    --color-primary: #fc7753;
}

@import "tailwindcss";

@plugin "daisyui";
@plugin "@tailwindcss/typography";

@source inline("absolute");
@source inline("alert{-error,}");
@source inline("btn{-block,-circle,-ghost,-primary,-sm,}");
@source inline("fieldset{-label,}");
@source inline("flex");
@source inline("gap-2");
@source inline("grow");
@source inline("hidden");
@source inline("input{-error,}");
@source inline("item-center");
@source inline("loading{-spinner,}");
@source inline("modal{-action,-backdrop,-box,-open,}");
@source inline("py-{2,3}");
@source inline("pr-0");
@source inline("right-2");
@source inline("size-{5,6}");
@source inline("select{-error,}");
@source inline("top-2");
@source inline("w-full");

/* Loading overlay */
@keyframes loading-pulse {
    0% {
        background-color: #333;
        box-shadow: 0 0 0 0px #333;
    }
    100% {
        background-color: #3333;
        box-shadow: 0 0 0 64px #3333;
    }
}

.input:focus,
.input:focus-within,
.textarea:focus,
.textarea:focus-within {
    outline: none;
}

@utility btn {
    @apply uppercase;
}

@utility fieldset {
    @apply w-full;
}

@utility input {
    @apply border-white w-full rounded-2xl;
}

@utility select {
    @apply border-white w-full rounded-2xl;
}

@utility textarea {
    @apply border-white w-full rounded-2xl;
}

@layer components {
    .form {
        @apply max-w-[640px] ml-auto mr-auto mt-4 mb-4 w-full;
    }

    .h1 {
        @apply text-2xl font-bold mb-6;
    }

    .h2 {
        @apply text-xl font-bold mb-5;
    }

    .h3 {
        @apply text-lg font-bold mb-4;
    }

    .h4 {
        @apply text-lg font-bold mb-3;
    }

    /* Loading overlay */
    .loading-overlay {
        @apply flex items-center justify-center fixed inset-[0] z-1000 bg-black;

        transition:
            visibility 0s 0.3s,
            background-color 0.3s;
    }

    .loading-overlay .loading-pulse {
        @apply bottom-[14px] left-[14px] m-auto h-[100px] w-[100px] rounded-full animate-[loading-pulse_1.5s_infinite];
    }

    .loading-overlay figure {
        @apply block h-[128px] w-[128px] relative;
    }

    .loading-overlay img {
        @apply block h-auto w-full;
    }

    .loading-overlay img,
    .loading-overlay .loading-pulse {
        @apply absolute;

        transition:
            visibility 0s 0.3s,
            opacity 0.3s;
    }

    .loading-overlay.is-done {
        @apply bg-[#0000] invisible;
    }

    .loading-overlay.is-done img,
    .loading-overlay.is-done .loading-pulse {
        @apply invisible opacity-0;
    }
    /* --------------- */
}
